<h1>New Article</h1>
<div class="form-group">
<%= form_with scope: :article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content, class: 'form-control' %>
  </p>
 
  <p>
    <%= form.submit "Create Article", class: 'btn btn-default'%>
  </p>
<% end %>
</div>